<ion-content fullscreen>
  <div class="header-secton">
    <ion-img src="../../../assets/images/khatabook.jpg" class="header-img"></ion-img>
    <h2 class="header-text">Roz Marza Entry</h2>
  </div>
  <div class="login-container">
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input [(ngModel)]="userName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button fill="solid" expend="block" color="dark" (click)="login()">Login</ion-button>

    <div class="signUp-container">
      <h4>Not Registred Yet ?</h4>
      <a routerLink="/registration" routerDirection="forward" class="singUp-link"> Sign Up</a>
    </div>
  </div>
</ion-content>
