<ion-header>
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">User Name</ion-label>
    <ion-input [(ngModel)]="userName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input [(ngModel)]="cpassword" type="password"></ion-input>
  </ion-item>
  <ion-button fill="solid" expend="block" color="dark" (click)="signUp()"> Sign Up</ion-button>
  <a  routerLink="/login" routerDirection="back">Login</a>
</ion-content>
