

.details-list-header{
    display: block;
    --background: var(--ion-color-primary);
    z-index: 2;
    box-shadow: 5px #888888;
   
}

ion-footer {
ion-list {
    background-color: var(--ion-color-primary);
}
}